<h2>Bienvenue chez les Carolos !</h2>
<p>
  Ici, nous célébrons l'âme chaleureuse et l'esprit vibrant de Charleroi. Vous y trouverez des histoires inspirantes, des nouvelles locales, des événements incontournables et bien plus encore.
  <br><br>
  Que vous soyez un Carolo de toujours ou un nouvel arrivant, notre objectif est de créer un espace où chacun peut se sentir chez soi. Ensemble, découvrons les trésors cachés de notre ville, partageons nos coups de cœur et soutenons notre communauté.
  <br><br>
  Bonne lecture et bienvenue chez vous!
</p>
